@import './pages/header';
@import './components/slider.scss';
@import './components/blocks.scss';
@import './components/tabs.scss';
@import './pages/footer';
@import './components/card.scss';
@import './components/product-slider.scss';
@import './pages/catalog.scss';
@import './components/filter.scss';
@import './pages/product.scss';
@import './components/product-tab.scss';
@import './components/modal.scss';

.btn {
    border-radius: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe\ UI,Roboto,Helvetica\ Neue,Arial,Noto\ Sans,sans-serif;;
}

section {
    min-width: 960px;
    max-width: 1440px;
    margin: 0 auto;
}